*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

body{
    background-color: palevioletred;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
}

form input, button{
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.agregar-btn{
    background-color: green;
    color: white;
    text-align: center;
}

.agregar-btn:hover{
    background-color: rgb(1, 94, 1);
}

#productos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

.precio-compra{
    color: red;
}

.precio{
    color: green;
}

.producto{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.eliminar-producto{
    background-color: red;
    color: white;
    padding: 6px;
    text-align: center;
}

.calcular-btn{
    background-color: blueviolet;
    color: white;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.calcular-btn:hover{
    background-color: rgb(106, 33, 174);

}

#resumen{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
}